<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{book.name}}
{{book.name_id}}
{{book.full_author_name}}
{{book.short_description}}
{{book.status}}
{{book.shelf}}
</body>
</html>