<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for shelf in shelfs%}
    {{shelf.name}}
    {%for book in shelf.books.all%}
        {{book.name}}
        {{book.name_id}}
    {% endfor %}
{% endfor %}
</body>
</html>